@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.info-card__meter::after, .breadcrumbs__item:not(:last-child)::after, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-collection:before {
  content: "\e900";
}

._icon-arrow-right:before {
  content: "\e901";
}

._icon-email:before {
  content: "\e902";
}

._icon-location:before {
  content: "\e903";
}

._icon-phone:before {
  content: "\e904";
}

._icon-printer:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:checked + .checkbox__label:before {
  background: #b5d4d3;
  border: 1px solid #b5d5d3;
}
.checkbox__input:checked + .checkbox__label:after {
  background: #b5d4d3;
  transform: scale(1);
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #d1d1d1;
}
.checkbox__label::after {
  content: "✔";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  position: absolute;
  font-size: 15px;
  color: #1D1D1D;
  left: 5px;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.options__item {
  position: relative;
  cursor: pointer;
}
.options__item:not(:last-child) {
  margin-bottom: 10px;
}
.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.options__input:checked + .options__label:before {
  background: #E2CBBE;
  border: 1px solid transparent;
}
.options__input:checked + .options__label:after {
  transform: scale(1);
}
.options__label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.options__label:before {
  content: "";
  align-self: flex-start;
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
  border-radius: 50%;
  border: 1px solid #1D1D1D;
}
.options__label:after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #383838;
  position: absolute;
  left: 6px;
  top: 6px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.popup::before {
  content: "";
  background: rgba(24, 24, 24, 0.7);
  backdrop-filter: blur(9px);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  position: relative;
}

.popup__content {
  transition: transform 0.3s ease 0s;
  background: #ffffff;
  padding: 15px 30px 20px 30px;
  width: 100%;
  max-width: 470px;
}
.popup__content_two {
  max-width: 770px;
}

.popup__close {
  margin-bottom: 30px;
  margin-right: -15px;
  text-align: right;
  cursor: pointer;
}
.popup__title {
  text-transform: uppercase;
  color: #343434;
  margin-bottom: 18px;
}
.popup__form-items {
  margin-bottom: 29px;
}
.popup__form-input {
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 25px;
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
  outline: none;
  padding: 0px 10px 5px 0px;
}
.popup__form-input_text {
  min-height: 77px;
  resize: none;
}
.popup__form-input::placeholder {
  color: #343434;
  opacity: 0.5;
}
.popup__form-input-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.popup__form-input-checkbox:checked + .popup__form-label:after {
  transform: scale(1);
}
.popup__form-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.popup__form-label span {
  max-width: 268px;
  font-size: 11px;
  line-height: 13px;
  color: #343434;
}
.popup__form-label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #d1d1d1;
}
.popup__form-label::after {
  content: "✔";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  position: absolute;
  font-size: 14px;
  color: #ddc0af;
  left: 6px;
  top: 3px;
}
.popup__form-buttom {
  padding: 12px 45px;
  margin: 0 auto;
  max-width: 170px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1d1d1d;
  background: #e2cbbe;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.popup__form-buttom:hover {
  box-shadow: 0 0 15px #f1dfd4;
  background: #ebd1c2;
}

.popup-consent__title {
  color: #343434;
  margin: 0 auto 30px;
  max-width: 490px;
  text-align: center;
  text-transform: uppercase;
}
.popup-consent__text {
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: #1d1d1d;
  margin-bottom: 30px;
}
.popup-consent__buttons {
  display: flex;
  justify-content: space-between;
}
.popup-consent__button {
  padding: 12px 0px;
  max-width: 170px;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #1d1d1d;
  background: #e2cbbe;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.popup-consent__button_white {
  background: #ffffff;
  border: 1px solid #1d1d1d;
}
.popup-consent__button:hover {
  box-shadow: 0 0 15px #f1dfd4;
  background: #ebd1c2;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
}

.subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.small-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1d1d1d;
  background: #e2cbbe;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  box-shadow: 0 0 15px #f1dfd4;
  background: #ebd1c2;
}

.indent {
  margin-bottom: 120px;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__slider-arrow_left {
  margin-bottom: -14px;
}
.navigation__slider-dotts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 35px;
}
.navigation__dotts-item {
  background: #d4e1e2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.navigation__dotts-item:not(:last-child) {
  margin-right: 20px;
}
.navigation__dotts-item_active {
  background: #1d1d1d;
}

.breadcrumbs {
  padding: 30px 0px 50px 0px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  line-height: 19px;
  color: #d1d1d1;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 10px;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "\e901";
  padding-left: 10px;
  font-size: 10px;
}
.breadcrumbs__link {
  transition: all 0.3s ease 0s;
}
.breadcrumbs__link:hover {
  color: #ccb2a3;
}

.quantity {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  padding: 5px;
  width: 70px;
  height: 26px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  justify-content: space-between;
}
.quantity__number {
  max-width: 40px;
  text-align: center;
  outline: none;
  resize: none;
}

.header__top {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 111px;
}
.header__column {
  display: flex;
  align-items: center;
}
.header__item {
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.header__item::before {
  margin-right: 8px;
}
.header__item:not(:last-child) {
  padding-right: 43px;
}
.header__item:hover {
  color: #ccb2a3;
}
.header__logo {
  margin-right: 110px;
}
.header__button {
  padding: 12px 24px;
  margin-right: 38px;
}
.header__cart {
  position: relative;
}
.header__cart span {
  font-family: "Inter";
  font-size: 10px;
  line-height: 12px;
  color: #383838;
  background: #ffffff;
  border: 1px solid #383838;
  border-radius: 50%;
  padding: 3px 6px 3px 6px;
  position: absolute;
  top: 14px;
  right: -7px;
}
.header__bottom {
  background: #383838;
}
.header__bottom-inner {
  padding: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  flex: 1 1 auto;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  padding-right: 30px;
}
.menu__link:hover {
  color: #ccb2a3;
}
.menu__sub-list {
  left: 0;
  top: 42px;
  background: #292929;
}
.menu__sub-list, .menu__subsub-list {
  position: absolute;
  min-width: 200px;
  z-index: 5;
  padding: 15px;
}
.menu__sub-item {
  position: relative;
}
.menu__sub-item:not(:last-child) {
  margin-bottom: 22px;
}
.menu__sub-item span {
  justify-content: space-between;
}
.menu__sub-item span::before {
  font-size: 10px;
  margin-left: 10px;
}
.menu__sub-item span:hover {
  color: #ccb2a3;
}
.menu__subsub-list {
  right: -213px;
  top: -15px;
  background: #202020;
}
.menu__subsub-item:not(:last-child) {
  margin-bottom: 22px;
}
.menu__subsub-link {
  justify-content: left;
}
.menu__subsub-link:hover {
  color: #ccb2a3;
}

.menu-link {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.menu-link::before {
  font-size: 10px;
  margin-left: 10px;
}

.footer {
  background: #383838;
}
.footer__menu {
  padding: 25px 0px;
  border-bottom: 1px solid #ffffff;
}
.footer__menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__menu-list li:not(:last-child) {
  padding-right: 15px;
}
.footer__menu-link {
  font-size: 14px;
  line-height: 17px;
  transition: all 0.3s ease 0s;
}
.footer__menu-link::after {
  content: "";
  width: 0;
  height: 1px;
  display: block;
  margin-top: 0.375rem;
  background-color: #CCB2A3;
  transition: width 0.3s ease 0s;
}
.footer__menu-link:hover {
  color: #CCB2A3;
}
.footer__menu-link:hover::after {
  width: 100%;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-top: 40px;
}
.footer__info-link {
  display: block;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.footer__info-link::before {
  margin-right: 10px;
}
.footer__info-link:hover {
  color: #CCB2A3;
}
.footer__logo {
  margin-right: 50px;
}
.footer__button {
  padding: 12px 34px;
}
.footer__copy {
  margin-bottom: 30px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
}

.page__main {
  margin-bottom: 210px;
}
.page__benefits {
  margin-bottom: 90px;
}
.benefits__title {
  color: #1d1d1d;
  margin-bottom: 70px;
}
.benefits__columns {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.benefits__column {
  display: flex;
  flex-direction: column;
}
.benefits__column:nth-child(even) {
  margin-top: 85px;
  flex-direction: column-reverse;
}
.benefits__item {
  padding: 40px 15px 10px 15px;
  text-align: center;
  height: 310px;
  margin-bottom: 30px;
}
.benefits__item_dark {
  background: #5b5b5b;
  position: relative;
}
.benefits__item_dark::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../img/benefits_bg.png) no-repeat;
}
.benefits__item_pink {
  background: #e2cbbe;
  color: #1d1d1d;
}
.benefits__item-content {
  position: relative;
}
.benefits__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
.benefits__item-title span {
  display: block;
}
.benefits__item-text {
  font-weight: 500;
  line-height: 20px;
}
.benefits__item-image {
  margin-bottom: 30px;
}
.benefits__item-image img {
  max-width: 50px;
}

.about {
  position: relative;
}
.about::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 73.364583%;
  background: #5b5b5b;
}
.about__container {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-top: 70px;
}
.about__image {
  padding-bottom: 71%;
  margin-bottom: -222px;
  position: relative;
}
.about__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.about__image_two {
  max-width: 705px;
  margin-left: -134px;
}
.about__image_two img {
  width: 100%;
}
.about__content {
  margin-left: 30px;
  max-width: 570px;
  padding-bottom: 70px;
}
.about__title {
  margin-bottom: 50px;
}
.about__text {
  line-height: 20px;
}
.about__text p:not(:last-child) {
  margin-bottom: 20px;
}

.main-block {
  position: relative;
  background: linear-gradient(85.13deg, #ccb2a3 27.99%, #e2ccbe 91.68%);
}
.main-block__slider {
  padding-top: 65px;
}
.main-block__slide {
  display: flex;
  justify-content: space-between;
}
.main-block__content {
  margin-bottom: 81px;
}
.main-block__title {
  margin: 25px 50px 75px 0px;
  max-width: 400px;
}
.main-block__button {
  color: #ffffff;
  background: #383838;
  padding: 12px 52px;
}
.main-block__button:hover {
  background: #292929;
  box-shadow: 0 0 20px #e0cdc1;
}
.main-block__image {
  position: relative;
  padding-bottom: 39%;
  flex: 0 1 670px;
  margin-bottom: -76px;
}
.main-block__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-block__slider-navigation {
  position: absolute;
  bottom: -76px;
}

.catalog {
  color: #1d1d1d;
  font-weight: 500;
}
.catalog__title {
  margin-bottom: 40px;
}
.catalog__content {
  display: flex;
  justify-content: space-between;
}
.catalog__cards {
  flex: 1 1 auto;
}

.filter-catalog {
  height: 100%;
  margin-right: 30px;
  flex: 1 1 auto;
  max-width: 270px;
  color: #1d1d1d;
}
.filter-catalog__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.filter-catalog__button {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #1d1d1d;
  padding: 12px 0px;
  width: 134px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
}
.filter-catalog__button_active {
  border: 1px solid transparent;
  background: #e2cbbe;
  font-weight: 600;
}
.filter-catalog__items {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  padding: 15px 0px 20px 0px;
}
.filter-catalog__item {
  padding: 0px 15px;
}
.filter-catalog__item:not(:last-child) {
  margin-bottom: 30px;
}
.filter-catalog__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}
.filter-catalog__title::before {
  font-size: 10px;
}
.filter-catalog__checkbox-wrapper {
  margin-top: 16px;
  max-height: 290px;
  overflow: auto;
}
.filter-catalog__checkbox-wrapper::-webkit-scrollbar {
  width: 5px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
}
.filter-catalog__checkbox-wrapper::-webkit-scrollbar-thumb {
  background: #d4e1e2;
}
.filter-catalog__checkbox:not(:last-child) {
  margin-bottom: 10px;
}
.filter-catalog__filter-button {
  color: #ffffff;
  background: #383838;
  padding: 12px 0px;
  width: 240px;
  margin: 0 auto;
  display: flex;
}
.filter-catalog__filter-button:hover {
  background: #292929;
  box-shadow: 0 0 20px #e0cdc1;
}

.cards {
  font-size: 12px;
  line-height: 15px;
  margin-top: 8px;
}
.cards__sorting {
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 31px;
}
.cards__sorting-text {
  margin-right: 8px;
  font-weight: 500;
}
.cards__sorting-button {
  padding-top: 6px;
}
.cards__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.cards__item-wrapper {
  position: relative;
}
.cards__item-wrapper:hover .cards__action {
  opacity: 1;
  visibility: visible;
}
.cards__item {
  position: relative;
  height: 100%;
}
.cards__item, .cards__action {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  cursor: pointer;
}
.cards__action {
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0px 8px 16px rgba(111, 111, 111, 0.2);
}
.cards__labels {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
}
.cards__label {
  padding: 7px 0px;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  margin-bottom: 5px;
}
.cards__label_new {
  background: #b5d4d3;
}
.cards__label_popular {
  background: #e2cbbe;
}
.cards__label_sale {
  background: #5b5b5b;
  color: #ffffff;
}
.cards__image {
  position: relative;
  padding-bottom: 77%;
}
.cards__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.cards__image_product img {
  object-fit: contain;
}
.cards__image_shadow {
  opacity: 0.2;
  backdrop-filter: blur(5px);
}
.cards__image-button {
  position: absolute;
  width: 170px;
  height: 40px;
  top: 90px;
  left: 45px;
  border: 1px solid #1d1d1d;
  background: transparent;
}
.cards__content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.cards__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  flex: 1 1 auto;
  margin-bottom: 15px;
}
.cards__info {
  margin-bottom: 10px;
}
.cards__info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cards__info-left {
  color: #6f6f6f;
  padding-right: 10px;
}
.cards__price-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards__price-text {
  font-size: 16px;
  line-height: 20px;
}
.cards__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.cards__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.cards__bottom-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  color: #383838;
  margin-bottom: 20px;
  transition: 0.3s;
}
.cards__bottom-button:hover {
  color: #000000;
}
.cards__button {
  padding: 12px 0px;
  margin-top: 16px;
}
.right-color {
  width: 14px;
  height: 14px;
  background: #d1d1d1;
  border-radius: 50%;
}

.collection {
  color: #1d1d1d;
  font-weight: 500;
  margin-bottom: 100px;
}
.collection__body {
  display: flex;
}
.collection__content {
  flex: 1 1 auto;
}
.collection__text {
  max-width: 870px;
  font-size: 14px;
  line-height: 20px;
  margin: 50px 0px;
}
.collection__tile-title {
  margin-bottom: 30px;
}

.card-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 58px;
}
.card-navigation__navigation {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.card-navigation__arrow-left {
  padding-top: 12px;
}
.card-navigation__navigation-text {
  color: #383838;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding: 0px 20px;
}

.info-collection {
  display: flex;
}
.info-collection__slider {
  flex: 0 1 470px;
}
.info-collection__image-big {
  position: relative;
  padding-bottom: 61.8%;
}
.info-collection__image-big img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.info-collection__slider-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-collection__arrow_right {
  transform: rotate(180deg);
}
.info-collection__arrow::before {
  font-size: 20px;
}
.info-collection__arrow._active-arrow::before {
  color: #b5d4d3;
}
.info-collection__images {
  display: flex;
  justify-content: space-between;
  padding: 0px 22px;
  margin-top: 10px;
}
.info-collection__image {
  max-width: 90px;
}
.info-collection__image img {
  width: 100%;
  object-fit: cover;
}
.info-collection__image:not(:last-child) {
  margin-right: 10px;
}
.info-card {
  margin-left: 30px;
  font-size: 12px;
  line-height: 14px;
}
.info-card__title {
  margin-bottom: 10px;
  max-width: 290px;
}
.info-card__code {
  color: #6f6f6f;
  margin-bottom: 20px;
}
.info-card__price {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}
.info-card__price span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
}
.info-card__buy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.info-card__btn {
  padding: 12px 99px;
}
.info-card__btn-black {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background: #383838;
  color: #ffffff;
  padding: 12px 87px;
}
.info-card__printer {
  font-size: 23px;
  margin-left: 10px;
  transition: 0.3s;
}
.info-card__printer:hover {
  color: #e2cbbe;
}
.info-card__inputs {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.info-card__meter {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  padding: 5px;
  width: 70px;
  height: 26px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  margin-left: 20px;
}
.info-card__meter::after {
  content: "\e901";
  margin-left: 33px;
  font-size: 10px;
}
.info-card__items {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.info-card__list:not(:last-child) {
  margin-right: 30px;
}
.info-card__item_left {
  color: #6f6f6f;
}
.info-card__item:not(:last-child) {
  margin-bottom: 10px;
}
.info-card__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #87a4a3;
  transition: all 0.3s ease 0s;
}
.info-card__button:hover {
  color: #4b7c7a;
}

.product {
  color: #1d1d1d;
  font-weight: 500;
  margin-bottom: 90px;
}
.product__body {
  display: flex;
}
.product__content {
  display: flex;
  flex: 0 1 100%;
}
.product__image {
  position: relative;
  padding-bottom: 93%;
  flex: 0 1 470px;
}
.product__image img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.cart {
  color: #1d1d1d;
  font-weight: 500;
}
.cart__title {
  margin-bottom: 40px;
}
.cart__body {
  display: flex;
}
.cart__products {
  flex: 0 1 870px;
  margin-bottom: 30px;
}
.cart__counting {
  border: 1px solid #d1d1d1;
  margin-left: 30px;
  padding: 15px 10px 10px 10px;
  flex: 1 0 270px;
  height: 100%;
}
.cart__button {
  background: #ffffff;
  border: 1px solid #1d1d1d;
  padding: 12px 58px;
}

.product-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
  padding: 20px;
}
.product-order:not(:last-child) {
  margin-bottom: 20px;
}
.product-order__left {
  display: flex;
  flex: 0 1 580px;
}
.product-order__image {
  max-width: 60px;
  margin-right: 20px;
}
.product-order__image img {
  width: 100%;
}
.product-order__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-order__title {
  max-width: 370px;
  margin-bottom: 8px;
  transition: all 0.3s ease 0s;
}
.product-order__title:hover {
  color: #ccb2a3;
}
.product-order__size {
  font-size: 12px;
  line-height: 14px;
}
.product-order__size span {
  color: #6f6f6f;
  padding-right: 10px;
}
.product-order__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 250px;
}
.product-order__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 15px;
}
.product-order__delet {
  cursor: pointer;
}

.counting-cart__counting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.counting-cart__counting-text {
  font-size: 20px;
  line-height: 24px;
  padding-right: 15px;
}
.counting-cart__counting-product {
  font-size: 12px;
  line-height: 14px;
  color: #6f6f6f;
}
.counting-cart__counting-amount {
  font-size: 12px;
  line-height: 14px;
}
.counting-cart__counting-button {
  padding: 12px 60px;
  width: 100%;
  margin-top: 15px;
}
.counting-cart__consent {
  font-size: 12px;
  line-height: 12px;
  text-decoration: underline;
  color: #87a4a3;
  padding: 15px 0px 5px 0px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.counting-cart__consent:hover {
  color: #557e7c;
}

.ordering {
  color: #1d1d1d;
  font-weight: 500;
}
.ordering__title {
  margin-bottom: 40px;
}
.ordering__body {
  display: flex;
}
.ordering__content {
  flex: 0 1 870px;
  margin-right: 30px;
}
.ordering__product {
  flex: 0 0 270px;
}

.item-order {
  padding: 15px 40px 15px 20px;
  border: 1px solid #d1d1d1;
}
.item-order:not(:last-child) {
  margin-bottom: 30px;
}
.item-order__title {
  margin-bottom: 30px;
}
.item-order__input-wrapper {
  margin-top: 30px;
}
.item-order__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
  margin-bottom: 20px;
}
.item-order__input {
  border: 1px solid #d1d1d1;
  padding: 12px 10px;
  outline: none;
  width: 100%;
}
.item-order__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #6e6e6e;
}
.item-order__input_text {
  min-height: 126px;
  resize: none;
}
.item-order__input:focus {
  box-shadow: 0 0 15px #e6e6e6;
}
.item-order__input-big {
  margin-bottom: 40px;
}
.product-ordering {
  border: 1px solid #d1d1d1;
  height: 100%;
}
.product-ordering__item {
  padding: 15px 10px;
  border-bottom: 1px solid #d1d1d1;
  display: flex;
}
.product-ordering__image {
  max-width: 60px;
  margin-right: 20px;
}
.product-ordering__image img {
  width: 100%;
}
.product-ordering__title {
  display: block;
  max-width: 155px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
}
.product-ordering__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-ordering__quantity {
  font-size: 12px;
  line-height: 14px;
}
.product-ordering__price {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}
.product-ordering__counting {
  padding: 20px 10px 10px 10px;
}
